

/*********************** Menu Bar Section ***********************/

.container-fluid{
  padding: 0;
}
.main_logo{
  width: 30%;
}
.menu_logo{
  padding: 5px;
  display: none;
  width: 100px;
  transition: 0.5s;
}
.menu_logo img{
  width: 80px;
}
.text-primary, .page-scroll{
  padding: 14px 20px;
}

.main_down{
  align-items: flex-end;
  justify-content: space-around;
  width: 50px;
  align-items: flex-end;
  justify-content: space-around;
}

.text-faded span{
  color: white;
  font-size: 17px;
  font-weight: 400;
}
/*.icon{
  width: 22%;
  margin: 20px;
}*/

/*********************** Main Section ***********************/
/*********************** Company Section ***********************/
/*********************** Service Section ***********************/

.thin-white{
  margin-top: 4%;
  margin-bottom: 7%;
  max-width: 170px;
  border-width: 1px;
  opacity: 0.3;
}
.service_text{
  font-size: 21px;
}
.service_text span{
  font-size: 23px;
}
.second_contents{
  margin-top: 10%;
}
.explain_text{
  margin-bottom: 1px;
  font-size: 11px;
}
.intro_container{
  margin: 20px;
}
.normal_img{
  height: 55px;
  margin-bottom: 30px;
}
.logo_container{
  margin: 0 50px;
  min-height: 300px;
  margin-top: 30px;
}
.edu_logo{
  height: 30px;
  margin-bottom: 45px;
  margin-top: 10px;
}
.lily_logo{
  height: 65px;
  margin-top: -10px;
  margin-bottom: 30px;
}
.button_container{
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}
.service_container p{
  padding: 5px 0;
}
.service_container a{
  display: block;
  margin-top: 30px;
  color: white;
  text-decoration: underline;
  font-size: 18px;
}
.korean_intro{
  color: white;
  font-size: 17px;
}
.eng_intro{
  color: #767374;
  font-size: 20px;
}
.bg-primary .thin-white{
  margin-top: 1%;
  margin-bottom: 4%;
}
.who_we_are{
  margin-top: 0;
}
.text-faded a{
  margin:20px auto;
  width: 100px;
}
.text-faded a:hover{
  cursor: pointer;
  color: #09cf95;
}
#two{
  background-color: #222;
}

.Team{
  background-color: #EBEBEB;
  color: #333;
  padding-top: 5%;
}
.team_container{
  padding: 0;
}
.thin-gray{
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 170px;
  border-width: 1px;
  opacity: 0.3;
  border-color: #333;
}
.this-gray-line{
  margin: 2px 0 0 0;
  max-width: 100%;
  border-width: 1px;
  opacity: 0.3;
  border-color: black;
}
.team_container img{
  display: inline-block;
  width: 50%;
}
.Team span{
  font-size: 15px;
}
.service_name{
  margin: 10px auto;
  width: 100px;
}
/*.lily_button, .intellidio_button{
  cursor: pointer;
  transition: 300ms;
}*/
.eduPage_wrapper{
  display: none;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 70%;
  height: 95%;
  z-index: 1500;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform:translate(0%, -50%);
}
.eduPage{
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  transition: 300ms;
}
.edu_text, .lily_text, .intellidio_text{
  transition: 300ms;
}
.intro_container:hover{
  cursor: pointer;
}
.edu_section:hover .edu_text{
  color: #4E54B4;
}
.lily_section:hover .lily_text{
  color:#EB6B5C;
}
.intellidio_section:hover .intellidio_text{
  color:#F7E04B;
}
.development span, .education span, .design span, .uiux span{
  margin-left: 10px;
}
.upper_container{
  text-align: left;
  padding: 0;
  margin-bottom: 100px;
}
.upper_left_container{
  display: inline-block;
  width: 65%;
}
.upper_text{
  float: right;
  width: 34%;
  display: inline-block;
}
.upper_first_text{
  display: table-cell;
}
.upper_second_text{
  float: right;
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
  margin-right: 5%;
}
.team_image_container{
  position: relative;
  text-align: center;
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
  width: 100%;
}
.team_image_container img{
  width: 80%;
}
.team_text{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10%;
}
.team_text p{
  font-weight: 400;
  font-size: 1.3vw;
}
#team_text_container{
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
.development, .uiux{
  /*margin: 0 18%;*/
}
.img_text{
  vertical-align: bottom;
  display: inline-block;
}
.development, .education, .design, .uiux{
  width: 49%;
  text-align: center;
  display: inline-block;
}
/* Team_lower part */
.lower_container{
  text-align: right;
  padding: 0;
}
.lower_left_container{
  float: left;
  display: inline-block;
  width: 34%;
}
.lower_right_container{
  display: inline-block;
  width: 65%;
}
.lower_first_text{
  display: table-cell;
  float: right;
}
.lower_second_text{
  float: left;
  text-align: left;
  display: table-cell;
  vertical-align: bottom;
  margin-left: 5%;
}
.lower_left_container_hidden{
  display: none;
}
.contents_wrapper, #last{
  padding: 40px 0 0 0;
}
.start_with_740{
  margin-bottom: 50px;
}
.contact_heading{
  font-size: 40px;
  margin-bottom: 0;
}
.contact_contents{
  background-image: url("../image/6page/background_image.png");
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100%;
  text-align: center;
}
.contents{
  margin: 10% 0;
}
#footer{
  text-align: center;
  padding: 1.5% 0;
}
.first_footer{
  text-align: left;
}
.footer_icon img{
  width: 20px;
  cursor: pointer;
  margin-left: 4%;
}
.text-primary{
  font-size: 55px;
  color: #09cf95;
}
@media only screen and (max-width:420px) {
  .text-primary{
    font-size: 30px;
  }
  .korean_intro{
    font-size: 13px;
  }
  .eng_intro{
    font-size: 15px;
  }
  .eduPage_wrapper{
    width: 85%;
  }
  .team_image_container img{
    width: 100%;
  }
  .contact_heading{
    font-size: 30px;
  }
  .contents_wrapper p {
    font-size: 13px;
  }
  #one{
    height: 0;
  }
}
@media screen and (max-width:767px){
  .contact_contents{
    background-size: 250%;
  }
  .team_text p{
    font-size: 10px;
  }
  .page-scroll{
    text-align: right;
    margin-right: 20px;
  }
  .header-content{
    margin-top: 80px;
  }
}
@media screen and (max-width:991px){
  #two{
    min-height: 1100px;
  }
  .upper_left_container{
    width: 100%;
  }
  .upper_text{
    width: 100%;
    margin-top: 10px;
  }
  .upper_second_text{
    margin-right: 0;
  }
  .lower_right_container{
    width: 100%;
  }
  .lower_left_container{
    display: none;
  }
  .lower_left_container_hidden{
    display: block;
    height: 150px;
  }
  .lower_first_text{
    margin-top: 10px;
  }
  .lower_second_text{
    margin-left: 0;
  }
  .first_footer{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .middle_footer, .footer_icon{
    width: 50%;
    text-align: center;
  }
  .logo_container div{
    margin-bottom: 50px;
  }
}
html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Nanum Barun Gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;

}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #09cf95;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    /*font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;*/
    font-weight: 100;
}

p {
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7;
    margin-bottom: -10px;
}

pre{
  font-size: 15px;
  font-weight: 100;
}


.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
    min-height: 470px;
    height: 50%;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
    text-align: center;
}

.text-dark {
    color: #111;
}
.modal-content {
    background-color: #1d1d1d;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #909cf95;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #09cf95;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #09cf95 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}

/* 투명 메뉴바 */
@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #333;
        padding:14px 20px;
        letter-spacing: 1.1px;

        /*text-shadow: 1px 1px 1px rgba(60,60,60,0.7);*/
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }
    .affix .menu_logo{
      display: inline-block;
      transition: 0.3s;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #09cf95;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #09cf95;
    }
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  filter: brightness(70%);
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .outer {
        margin-right: auto;
        margin-left: auto;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

    .outer{
      position: absolute;
      z-index: 30;
      bottom: 30px;
      left: 0;
      right: 0;
    }
  }
  section {
      /*min-height: 100%;*/
      padding: 3% 0 0;
  }
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 200px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    /*max-width: 650px;*/
    overflow:hidden;
    filter: grayscale(100%);
}

.gallery-box img:hover{
  filter: grayscale(10%);
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 0.3;
}
.gallery-box:hover{
  filter: none;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.row{
  margin: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
