html, body{
	margin:0;
	width:100%;
	height:100%;
	overflow: hidden;
	position: fixed;
}
.arrow{
	display: inline-block;
  position: absolute;
  margin-top: 35px;
  margin-left: 35px;
  width: 60px;
  height: 60px;
}
.arrow:hover{
	cursor:pointer;
}
.greetingContainer{
  display: none;
  position: absolute;
  z-index: 5;
  height: 10%;
	width: 100%;
}
#RoomCode::-webkit-input-placeholder{
  opacity: 0.5;
  font-size: 17px;
}
.greetingText{
	display: inline-block;
  margin-left: 120px;
  margin-top: 50px;
  font-size: 20px;
  color:#3C84C6;
}

.CreateRoomButton{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #3C84C6;
	float: right;
	margin-top: 35px;
  margin-right: 35px;
	display: inline-block;
}
.CreateRoomButton:hover{
	cursor: pointer;
}
#user_Name{
  font-size: 30px;
  font-weight: bold;
}
#SlideUp{
	text-align: center;
  z-index: 5;
  display: none;
  background-color: #3C84C6;
  position: relative;
  left: 0;
  right: 0;
  top:0;
  margin: 150px auto 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 7px -17px 10px -10px #BFBFBF;
}
#SlideUp a{
	font-size: 20px;
	display: block;
	text-decoration: underline;
	color: white;
}
a:hover{
	cursor: pointer;
}
.EnterTheRoom{
	display: inline-block;
	border: 3px solid white;
	width: 500px;
	height: 70px;
	margin: 170px auto 150px;
}
.inputHeading{
	font-size: 22px;
	color: white;
	display: inline-block;
	width: 170px;

}
.EnterTheRoom input{
	padding-left: 15px;
	border-left: 3px solid white;
	border-top: none;
	border-right: none;
	border-bottom: none;
	background: #3C84C6;
	color: white;
	font-size: 20px;
	width: 300px;
	height: 68px;
}
input::-webkit-input-placeholder {
	color: white;
}
.EnterTheRoom input:focus{
	outline: none;
}
button:hover{
  cursor: pointer;
}

@keyframes hideGreetings{
	0%{
		top: 0px;
	}
	100%{
		top: 500px;
	}
}
/*@keyframes secondSlideUp {
  0%{
    top: 27px;
  }
  100%{
    top: -800px;
  }
}*/
@keyframes secondSlideUp {
  0%{
    top: 0;
  }
  100%{
    top: -100%;
  }
}
/*@keyframes bringNextPage {
  0% {
    top: 900px;
  }
  100% {
    top: 0px;
  }
}*/
@keyframes bringNextPage {
  0% {
    top: 100%;
  }
  100% {
    top: 0px;
  }
}
/*@keyframes slideUp {
  0% {
    top: 900px;
  }
  100% {
    top: 0px;
  }
}*/
@keyframes slideUp {
  0% {
    top: 100%;
  }
  100% {
    top: 0px;
  }
}
@keyframes slideDown {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

.hidden_overflow{
	overflow : scroll;
}

@keyframes test {
  0% {
    top: -95%;
  }
  100% {
    top: 0px;
  }
}

@keyframes test2 {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
