::-webkit-scrollbar {
  display: none; /* remove scroll-bar in Chrome, safari */
}

body,html{
  overflow: hidden;
}
#newSlideUp{
  display: none;
  z-index: 50;
  background-color: #3C84C6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.survey_button{
  font-size: 14px;
  margin: 20px 0 0 20px;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: #8041D9;
  display: none;
}
.survey_button:focus{
  outline: none;
}
.studentContainer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: 25px auto 0;
  background-color: white;
  height: 74%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.room_out_button img{
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}
.check_button_container{
  float: right;
  display: inline-block;
  margin: -20px 50px 0 0;
  width: 140px;
}
.ok_button, .question_button{
  width: 60px;
}
#questionContainer{
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  top: 5%;
  bottom: 10%;
  position: absolute;
  overflow-y: scroll;
  margin: 70px 0 0 0;
  width: 100%;
  height: 84%;
}
.question_list{
  overflow: auto;
  background-color: #F2F2F2;
  width: 90%;
  margin: 0 0 20px 40px;
  border-radius: 7px;
}
.question_number{
  display: inline-block;
  bottom: 100%;
  position: relative;
  float: left;
  margin-left: -30px;
  text-align: center;
  border-right: 3px solid #2E2E3E;
  border-bottom: 3px solid #2E2E3E;
  padding-top: 5px;
  width: 25px;
  height: 20px;
}
.text_container{
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
}
.delete_question{
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
}
.delete_question:hover{
  cursor: pointer;
}
.like_button{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-top: 3px;
  padding-left: 20px;
}
.like_button:hover{
  cursor: pointer;
}
.like_count{
  display: inline-block;
  font-size: 19px;
}
.question_list p{
  margin: 0;
}

.ChatContainer{
  text-align: center;
  position: absolute;
  z-index: 10;
  margin: 45px 25px 0 5px;
  display: inline-block;
  background-color: #2E2E3E;
  height: 93%;
  width: 47%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 5px 10px #3A3A3A;
}
.nav_text{
  display: inline-block;
}
.StudentCount{
    margin: 8px 0 0 30px;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #3C84C6;
    background-color: white;
    border-radius: 15px;
    width: 140px;
    height: 27px;
}
.StudentCount img{
  width: 18px;
  height: 18px;
  margin-top: 5px;
  vertical-align: sub;
}
/*@media (max-width:1150px){
  #newSlideUp{
    height: 200%;
  }
  .CodeViewContainer{
    position: relative;
    width: 95%;
    height: 47%;
    display: block;
    margin: 30px auto;
  }
  .ChatContainer{
    position: relative;
    display: block;
    width: 95%;
    height: 47%;
    margin: 30px auto;
  }
  #ChatArea{
    margin: auto;
  }
}
@media screen and (max-width:700px){
  .ChatButton{
    float: none;
    margin: 5px 20px 0px 20px;
    width: 60px;
  }
  #newSlideUp{
    height: 100%;
    width: 100%;
  }
  .CodeViewContainer{
    display: none;
  }
  .ChatContainer{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0;
  }
  #ChatArea{
    position:absolute;
    box-shadow: inset 0 0 10px #000000;
    overflow-y:scroll;
    margin: 0px auto 10px;
    width: 100%;
    height: 77%;
  }
  .StudentCount{
    width: 100px;
    height: 15px;
    padding: 20px;
  }
}

@media screen and (min-width:700px){
  #pink{
    margin-top: 130px;
    margin-right: -90px;
    width: 90px;
    float: right
  }
  #green{
    position: static;
    margin-right: -50px;
    margin-top: 30px;
    width: 90px;
    float: right;
  }
  #ChatArea{
    overflow-y:scroll;
    margin: 20px;
    background-color: #252533;
    border-radius: 10px;
    position: absolute;
    width: 88%;
    height: 85%;
    box-shadow: inset 0 0 10px #000000;
  }
}*/
.ChatButton{
  cursor: pointer;
}
#ChatArea p {
	margin-top:0;
	clear:both;
	border:10px solid rgba(0,0,0,0);
}
.inputContainer{
  z-index: 200;
  border-spacing: 0;
  background-color: white;
  box-shadow: none;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  border: 1px solid #234E74;
}
.inputContainer input{
  padding-left: 5%;
  z-index: 50;
  color: white;
  background-color: #3C84C6;
  font-size: 15px;
  width: 95%;
  height: 100%;
  border-style: none;
  border-radius: 0;
  box-shadow: inset 0 0 10px #000000;
}
.inputContainer input:focus{
  outline: none;
}
.inputContainer input::-webkit-input-placeholder{
  opacity: 0.5;
  font-size: 17px;
}
.inputContainer a{
  text-align: center;
  margin: auto;
/* top: 50%; */
  position: relative;
  float: right;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.send_button_container span{
  font-size: 17px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.inputContainer a img{
  width: 50px;
  height: 50px;
}
button:hover{
  cursor: pointer;
}
.userChat{
  word-wrap: break-word;
  color: white;
  display: inline-flex;
  margin: 10px;
  max-width: 50%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
  right: 50px;
  position: absolute;
}
.input_text_container{
  width: 80%;
}
.send_button_container{
  width: 20%;
}

#survey_frame {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 50%;
  height: 90%;
  position: absolute;
  top:50%;
  transform:translate(0%, -50%);
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  margin: auto;
  transition: 300ms;
}

#close_survey{
  margin: 5px 0 0 5px;
  width: 100px;
  height: 32px;
  z-index: 1100;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #8041D9;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
}

iframe{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border: 1px solid black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (max-width:720px){
  #survey_frame{
    width: 90%;
  }
}
