
::-webkit-scrollbar {
  display: none; /* remove scroll-bar in Chrome, safari */
}
/* html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
} */
#Lecturer{
  overflow: hidden;
  text-align: center;
  display: none;
  z-index: 50;
  background-color: #3C84C6;
  position: absolute;
  transform: translate(0%, 0%);
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.lecturer_heading_container{
  width: 100%;
  height: 60px;
  margin-top: 50px;
}
.right_heading{
  width: 350px;
  float: right;
}
.Lecturer_text{
  display: inline-block;
  float: left;
  color: white;
  font-size: 40px;
  margin-left: 100px;
}
.UpperContainer{
  height: 93%;
  overflow: hidden;
}
.StudentListContainer{
  bottom: 0;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  display: inline-block;
  background-color: white;
  height: 85%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 5px 10px #3A3A3A;
}
.Room_Code{
  float: left;
  display: inline-block;
  color: white;
  font-size: 40px;
}
#StudentList{
  -ms-overflow-style: none; /* remove scroll-bar in IE */
  position: absolute;
  left: 0px;
  top: 8%;
  overflow: auto;
  /* text-align: justify; */
  display: inline-block;
  height: 87%;
  padding: 0px 30px;
  z-index: 10;
}
.shadow{
  background: transparent;
  box-shadow: inset 0px -500px 1000px -400px black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 100%;
  z-index: 100;
}
.QuestionArea{
  display: none;;
  border: 1px solid #3C84C6;
  width: 35%;
}
.MenuContainer{
  position: absolute;
  width: 100%;
  height: 100px;
}
.left_text_container{
  display: inline-block;
  height: 50px;
  float: left;
  margin: 10px 0 10px 10px;
}
/*.studentBox{
  box-shadow: 5px 5px 10px 5px black;
  margin: 1.1%;
  display: inline-block;
  border-radius: 40px;
  width: 120px;
  height: 100px;
  transition: 100ms ease;
}
.studentBox:hover{
	cursor:pointer;
	opacity:0.7;
	transition: 100ms ease;
}*/
.student_state{
  position: absolute;
  margin-top: -210px;
  opacity: 0.6;
  width: 150px;
  border-radius: 50%;
  height: 150px;
}
.student_box img{
  border-radius: 50%;
  padding: 4px;
  width: 140px;
  height: 140px;
}
.student_box{
  display: inline-block;
  margin: 10px 0px 0px 0px;
}
.studentName{
  margin-bottom: 30px;
  font-size: 20px;
  color: black;
}
.alertMark{
  width: 40px;
  float: right;
  margin-top: -15px;

}
.lecturerButtonContainer{
  padding-left: 50px;
  border-top: 2px solid #3C84C6;
  height: 45px;
  background-color: white;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.out_button{
  left: 50px;
}
.send_button{
  left: 170px;
}
.Lecture_button{
  margin: 0px 10px;
  margin-top: 7px;
  display: inline-block;
  font-size: 15px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: white;
  border: 0px;
  background: #3C84C6;
  transition: 200ms ease;
}
.sendAllButton:hover{
  box-shadow: 5px 5px 7px 3px #121212;
  transition: 200ms ease;
}
.sendAllButton:focus{
  outline: none;
}
.nextButton{
  position: absolute;
  top: 0;
  color: black;
  right: 0;
  height: 45px;
  line-height: 45px;
}
.nextText{
  font-size: 17px;
}
#nextSessionButton{
  transform: scaleX(-1);
  float: right;
  margin: 3px 20px;
  display: inline-block;
  width: 40px;
  border-radius: 50%;
}
#nextSessionButton:hover{
  cursor: pointer;
}
.Modal{
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
}
.modal_table, tr, td{
  padding: 0;
}
.modal_table{
  z-index: 500;
  border-radius: 20px;
  background: #2E2E3E;
  box-shadow: 5px 5px 5px 0px black;
  width: 500px;
  height: 200px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
th{
  color:white;
  padding-top: 10px;
}

th:nth-child(2n){
  text-align: left;
}
th:last-child{
  padding-right: 15px;
  text-align: right;
}
.Modal td{
  text-align: right;
  padding-right: 35px;
}
#blank{
  width: 5px;
  padding-right: 8px;
}
#line{
  border-top: 3px solid #3C84C6;
}
#input_link, #input_file{
  max-width: 96%;
  width: 90%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  border-radius: 6px;
}
#input_link:focus, #input_file:focus{
	outline:none;
}
#input_file{
  width: 60%;
}
.lile{
  border: 1px solid orange;
}
.Modal_btn{
  width: 120px;
  height: 35px;
  border-radius: 4px;
  color : white;
  border: 0px;
  background: #252533;
  box-shadow: 5px 5px 5px 0px black;
  transition: 250ms ease;
}
.Modal_btn:hover{
  box-shadow: 5px 5px 7px 3px #121212;
  transition: 300ms ease;
  cursor: pointer;
}

#add_file{
  right: 30px;
  margin-right: 30px;
}
#closeButton{
  font-size: 25px;
}
#closeButton:hover{
  cursor: pointer;
  text-shadow: 5px 5px 10px black;
}
/********************** Chat **********************/
#lecturer_chat_container{
  position: absolute;
  bottom: 45px;
  right: -570px;
  z-index: 500;
  width: 600px;
  height: 80%;
}
.LecturerSlideChat{
  /*display: none;*/
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  /* position: absolute; */
  height: 100%;
  right: 27px;
  float: right;
  width: 570px;
  opacity: 0.93;
  z-index: 200;
}
/*#Open_Chat{
  float: right;
  font-weight: bold;
  padding: 20px 40px;
  transition: 100ms ease;
  background-color: #2E2E3E;
  border-style: none;
  margin-right: 30px;
  width: 55px;
  height: 55px;
}*/
#Open_Chat:focus{
  outline: none;
}
#Open_Chat{
  display: inline-block;
  z-index: 100;
  margin: 150px 0;
  height: 80px;
  width: 30px;
  border-bottom-left-radius: 30px;
  background-color: #3C84C6;
}
#Open_Chat:hover{
  cursor: pointer;
}
#chat_arrow{
  width: 13px;
  margin-top: 40px;
  position: relative;
  transition: 1000ms;
}

#Close_Chat{
  background: none;
  border-style: none;
  font-size: 20px;
  color: white;
  float: left;
  transition: 200ms ease;
}
#Close_Chat:hover{
  font-weight: bold;
  transition: 300ms ease;
}
#Chat_Area{
  padding-top: 5px;
  text-align: justify;
  overflow-y: scroll;
  margin: 20px auto;
  width: 95%;
  height: 90%;
}
#Chat_Area .question_list{
  width: 100%;
  margin: 10px 0 20px 0;
}
#contents input{
  font-size: 16px;
  color: white;
  background-color: #252533;
  opacity: 0.8;
  border-style: none;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 5px;
  width: 300px;
  height: 35px;
}
#sendButton{
  font-size: 15px;
  width: 70px;
  height: 35px;
  border-radius: 4px;
  color : white;
  border: 0px;
  background-color: #252533;
  box-shadow: 3px 3px 8px 2px #121212;
  transition: 200ms ease;
}
#sendButton:hover{
  box-shadow: 3px 3px 5px 3px #121212;
  transition: 200ms ease;
}
#sendButton:focus{
  outline: none;
}
#contents{
	height:100%;
	position: relative;
	width:100%;
}
.My_Message{
  word-break: break-all;
  color: black;
  background-color: #F4E34C;
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 7px;
  border-radius: 5px;
  max-width: 250px;
}
.My_Message:after{
 content: '';
 position: absolute;
 width: 0;
 height: 0;
 left: 100%;
 top: 3px;
 border: 5px solid;
 border-color: #F4E34C transparent transparent #F4E34C;
}
.button_container{
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #C8C8C8;
  width: 100%;
  float: left;
}
#myMessage:focus{
	outline:none;
}
.Other_Message{
  color: black;
  background-color: white;
  position: relative;
  float: left;
  margin-left: 15px;
  padding: 7px;
  border-radius: 5px;
  max-width: 250px;
}
.Other_Message:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 100%;
  top: 3px;
  border: 5px solid;
  border-color: white white transparent transparent;
}

.Lecture_Message{
  color: black;
  background-color: green;
  position: relative;
  float: left;
  margin-left: 15px;
  padding: 7px;
  border-radius: 5px;
  max-width: 250px;
}
.Lecture_Message:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 100%;
  top: 3px;
  border: 5px solid;
  border-color: green green transparent transparent;
}

@keyframes bring_Lecturer_Chat{
  0%{
    right: -570px;
  }
  100%{
    right: 0px;
  }
}
@keyframes hide_Lecturer_Chat{
  0% {
    right: 0px;
  }

  100% {
    right: -570px;
  }
}
@media (max-height:920px){
  #questionContainer{
    width: 100%;
    bottom:110px;
    top: 0;
  }
}
@media (max-height:720px){
  #questionContainer{
    bottom:90px;
    top: 0;
  }
}
@media (max-width: 600px){
  #questionContainer{
    bottom:120px;
    top: 0;
  }
  #SlideUp{
    position: absolute;
    width: 100%;
    height: 90%;
    margin-top: 100px;
  }
  .EnterTheRoom{
    border: none;
    margin-top: 110px;
    width: 100%;
    height: 40px;
  }
  #RoomCode{
    border: 3px solid white;
    margin:40px auto 0 auto;
    width: 80%;
    height: 50px;
    font-size: 15px;
  }
  .inputHeading{
    padding-top: 10px;
    font-size: 25px;
  }
  .greetingContainer{
    height: 8%;
  }
  .greetingText{
    font-size: 14px;
    margin-top: 30px;
    margin-left: 80px;
  }
  .CreateRoomButton{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .arrow{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .studentContainer{
    height: 80%;
    width: 100%;
    margin: 0;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
  }
  .questionContainer{
    width: 100%;
  }
  .inputContainer{
    width: 100%;
    height: 50px;
    margin: 0;
  }
  .inputContainer input{
    margin-right: 0;
    position: relative;
  }
  .inputContainer a img{
    width: 45px;
    height: 45px;
  }
  .left_text_container{
    width: 190px;
  }
  .right_heading{
    width: 210px;
  }
  .StudentCount{
    margin: 4px 10px;
    width: 120px;
    font-size: 15px;
  }
  .question_list{
    margin: 5px auto;
    width: 95%;
  }
  .Room_Code{
    float: left;
    display: inline-block;
    font-size: 30px;
  }
  .room_out_button img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 15px;
  }
  .check_button_container{
    width: 120px;
    margin: 10px 10px 0 0;
  }
  .check_button_container img{
    width: 50px;
    height: 50px;
  }
  .Lecturer_text{
    font-size: 30px;
    margin-left: 15px;
  }
  .lecturer_heading_container {
    width: 100%;
    height: 60px;
    margin: 30px 0px;
  }
}
@media (max-width: 350px){
  .left_text_container{
    width: 160px;
    margin: 10px 0;
  }
  .StudentCount {
    margin: 0 0 0 10px;
  }
  .Lecturer_text{
    font-size: 25px;
  }
  .Room_Code{
    padding: 0;
    font-size: 25px;
  }
  .right_heading{
    width: 200px;
  }

}
