body,html{
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}
section{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}
.LogoContainer{
  margin: 0;
  height: 80px;
}

#Logo740{
  margin-top: 2%;
  margin-left: 3%;
  width: 200px;
  float: left;
}

#Logo{
  margin: 5px 15px 0 0;
  width: 70px;
  height: 70px;
  float: right;
}

.TextContainer img{
  height: 150px;
  margin-bottom: 70px;
}

.LoginContainer{
  margin-bottom: 7%;
}

#firstInput{
  margin-right: -6px;
}

.LoginText{
  border-style: none;
  border: 1px solid #BFBFBF;
  padding: 0 10px;
  font-size:15px;
  width: 200px;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
}

.LoginText:focus{
  outline:none;
}

#LoginButton{
  color: white;
  font-size: 18px;
  -webkit-appearance: none;
  margin-left: -6px;
  opacity: 1;
  transition: 0.5s ease;
  background: linear-gradient(to bottom, #ff5050 0%, #ff9966 80%);
  border-style: none;
  width: 222px;
  height: 42px;
  border-radius: 0;
}
#LoginButton:hover{
	cursor: pointer;
	opacity: 0.6;
	transition: 0.5s ease;
}

.signUpButton{
  font-size: 20px;
  color:gray;
  border-style: none;
}

#footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

p span{
  font-weight: bold;
  color: #EB6B5C;
}
@media (max-width:650px){
  .LoginText{
    border: 1px solid gray;
    display: block;
    margin: -1px auto;
  }
  #LoginButton{
    margin: auto;
  }
  #firstInput{
    margin: auto;
  }
  #Logo{
    margin: 0;
    width: 45px;
    height: 45px;
    padding-right: 10px;
  }
  .TextContainer img{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
