body,html{
  overflow: hidden;
  margin: auto;
  text-align: center;
  width: 95%;
  height: 100%;
}
img{
  padding-top: 5%;
  padding-bottom: 2%;
  width: 320px;
}
img:hover{
	cursor:pointer;
}
table{
  width: 500px;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}
.grayBorder{
  border: 2px solid #BFBFBF;
}
.label{
  background-color: #BFBFBF;
  color: white;
  font-size: 12px;
  width: 20%;
  height: 36px;
}
.blank{
  background-color: white;
  border: none;
  height: 30px;
}
.inputArea{
  height: 45px;
  width: 80%;
}
input{
  margin-left: -2px;
  padding-left: 10px;
  font-size: 14px;
  border-style: none;
  width: 90%;
  height: 102%;
}
.buttonArea{
  border-bottom: 2px solid #BFBFBF;
  border-left: 2px solid #BFBFBF;;
  border-right: 2px solid #BFBFBF;
  height: 35px;
}
.buttonArea td{
  width: 100%;
}
#DuplicateButton{
  font-size: 14px;
  color: #BFBFBF;
  background-color: white;
  width: 100%;
  height: 25px;
  border-style: none;
}
#DuplicateButton:hover{
  color: gray;
}
#DuplicateButton:focus{
  outline: none;
}
#submitButton{
  border-radius: 10px;
  border: none;
  color: white;
  height: 30px;
  background-color: #EB6B5C;
  -webkit-appearance: none;
}
#submitButton:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
input:focus{
  outline: none;
}
#footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
p span{
  font-weight: bold;
  color: #EB6B5C;
}
@media (max-width:450px){
  img{
    width: 60%;
  }
  table{
    width: 90%;
  }
}
